@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="error-body">
    <h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger">You do not have access to this page.</h2>
    <h5><a href="/Index">Click here</a> to go back to the Homepage</h5>
</div>