@page
@model bedrock_frontend.Pages.RAGModel
@{
    ViewData["Title"] = "Retrieval Augmented Generation (RAG) - Q&A";
}

<div class="card m-auto chatbox-window">
    <div class="card-header d-flex justify-content-between align-items-center p-3">
        <h5 class="mb-0">RAG - Q&A</h5>
    </div>

    <div id="chat-body" class="card-body" data-mdb-perfect-scrollbar="true">
        <div id="chat-connection-status" class="divider d-flex align-items-center mb-4">
            <p class="text-center mx-3 mb-0" style="color: #a2aab7">Connecting to backend endpoint. Please wait</p>
        </div>
    </div>

    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
        <img src="~/images/avatars/user.webp" class="pretty-avatar" />
        <input id="chat-message" type="text" class="form-control form-control-lg" placeholder="Type message" disabled="disabled" />
        <input id="chat-sendbutton" type="image" src="~/images/btn_send.webp" style="max-height: 30px; max-width: 30px" disabled="disabled" />
    </div>
</div>


<div id="sidebar-open">OPTIONS</div>

<div class="bedrock-option-overlay"></div>

<div class="bedrock-option-sidebar">
    <div id="sidebar-close"></div>

    <label for="option_model" class="form-label">
        Model
        <div>ID of the model to use.</div>
    </label>
    <select id="option_model" class="form-select form-select-sm mb-3 bedrock-options" aria-label="Foundational Model" disabled>
        <option value="anthropic.claude-v2:1" selected>Anthropic Claude v2.1</option>
    </select>

    <input id="option_rag_session" type="hidden" value="">
</div>
@section Scripts {
    <script>
        var bedrock_backend_endpoint = "@ViewData["backend_endpoint"]";
        var backend_stage = "@ViewData["backend_stage"]";
        var cognito_id_token = "@ViewData["id_token"]";
        var action_name = "@ViewData["ws_action"]";
    </script>
    <script src="~/js/jquery.simple.websocket.js" asp-append-version="true"></script>
    <script src="~/js/bedrock-common.js" asp-append-version="true"></script>
    <script src="~/js/bedrock-rag.js" asp-append-version="true"></script>
}